@media(max-width: 767px)
    .container
        width: 540px
    .nav-menu
        display: none
    .hamburger
        display: block
        width: 30px
        &__line
            transition: 0.2s all
            height: 2px
            width: 100%
            display: block
            background: black
            margin-bottom: 4px
            &:last-child
                margin-bottom: 0px
    .hamburger_active
        .hamburger__line
            margin-bottom: -2px
            &:nth-last-child(1)
                transform: rotate(-45deg)
            &:nth-last-child(2)
                display: none
            &:nth-last-child(3)
                transform: rotate(45deg)